@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #001427;
  --second-bg-color: #003263;
  --second-color: #53baca;
  --text-color: #ffff;
  --main-color: #adfcf9;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("/assets/Bg-Home.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content {
  max-width: 90rem;
}

.home-content h1 {
  font-size: 6.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content .text-animate {
  position: relative;
  width: 60rem;
}

.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}

.home-content p {
  max-width: 60rem;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imghover {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: 100%;
  background: transparent;
  /* overflow: hidden; */
}

.home-imghover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/glitch-image1.png") no-repeat;
  background-size: cover;
  opacity: 0;
}

.home-imghover:hover:before {
  width: 103%;
  opacity: 1;
  animation: glitch 3.5s infinite steps(2);
}

@keyframes glitch {
  0%,
  100% {
    background: url("/assets/glitch-image.png");
    background-size: cover;
  }

  20% {
    background: url("/assets/glitch-image2.png");
    background-size: cover;
    opacity: 1;
  }

  40% {
    background: url("/assets/glitch-image3.png");
    background-size: cover;
    opacity: 0;
  }

  60% {
    background: url("/assets/glitch-image4.png");
    background-size: cover;
    opacity: 1;
  }

  80% {
    background: url("/assets/glitch-image5.png");
    background-size: cover;
    opacity: 0;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--bg-color);
  background: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--second-bg-color) 21%
  );
  padding-bottom: 6rem;
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 100%;
  border-radius: 50%;
  border: 0.5rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 110%;
  height: 110%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--main-color);
  animation: circle-load 15s infinite linear;
}

@keyframes circle-load {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  background: linear-gradient(
    180deg,
    var(--second-bg-color) 0%,
    var(--bg-color) 21%
  );
}

#heading-education {
  margin-bottom: 1rem;
}

.heading a {
  color: var(--text-color);
}

#more {
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

#more::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.5s ease-out;
}

#more:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  transition: 1s;
}

.education-content .content:hover {
  transform: scale(1.1);
  z-index: 2;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.skills {
  min-height: 100vh;
  padding-bottom: 7rem;
  background: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--second-bg-color) 21%
  );
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

.skills-row .skills-column {
  flex: 1 1 50rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box .skills-content {
  font-size: 2rem;
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
}

.skills-box .skills-content i {
  font-size: 5rem;
}

.skills-content .progress {
  display: inline-flex;
  gap: 5rem;
  border-bottom: 0.2rem solid var(--main-color);
  padding: 0.5rem 1.5rem;
}

.progress .logo {
  justify-items: center;
  align-items: center;
  border-right: 0.2rem solid var(--main-color);
}
